<h2><%= link_to sneaker.model, sneaker %></h2>

<p>
  <strong>Sex:</strong>
  <%= sneaker.sex %>
</p>

<p>
  <strong>Price:</strong>
  <%= sneaker.price %>
</p>

<%= image_tag sneaker.image %>

<%= link_to 'Edit', edit_sneaker_path(sneaker) %>
<td><%= link_to 'Destroy', sneaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<hr>
